<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}publications/">Publications</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-about" role="menuitem"><a href="https://unicode-research.netlify.app/people">Students</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}cv/cv.pdf">CV</a></li>
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}oldtalks/">Old Talks</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}art/">Art</a></li>
</ul>
